<div class="framing">
<h2>This week's movie timetable</h2>

<button class="btn btn1 btn2" (click)="readCsvData()" (click)="picsoff= true">
        Propose movie times
     </button> 

<img src= "src\app\program\film.jpg" class="imagine">

 <div id="program-windows" *ngIf="!picsoff" >

  <div > 
    <img class = "movieuno" src= "src\app\program\titanic.jpg">  
</div>  

<div> 
    <img class = "movieduo" src= "src\app\program\shades.jpg"> 
</div>

 <div> 
      <img class = "movietrio" src= "src\app\program\kingsshoes2.jpg">        
</div>

</div>
<div id="program-windows" *ngIf="picsoff">
<div  class = "movieprogram"> <table border="1" class="program">
        <tr *ngFor="let x of csvData">
            <td *ngFor="let y of x" data-ng-href="kino_object">{{ y }}</td>
          </tr>
        </table>
      </div>
        <br>
       
        <div id="program-windows" *ngIf="picsoff">
        <form (ngSubmit)="onSubmit(formular)" #formular="ngForm">
            <label for="movie"><b>Movie</b></label>
            <select   ngModel name="movie" required>    
                <option value="1">Titanic</option>
                <option value="2">Matrix</option>
                <option value="3">Die Schuhe des Königs</option>
                  </select>
                <br>
                <label for="day"><b>Day</b></label>
            <select   ngModel name="day" required>    
                <option value="1">Monday</option>
                <option value="2">Tuesday</option>
                <option value="3">Wednesday</option>
                <option value="4">Thursday</option>
                <option value="5">Friday</option>
                <option value="6">Saturday</option>
                <option value="7">Sunday</option>
                </select>
                  
                  <label for="theatre"><b>Theatre</b></label>
                  <select   ngModel name="theatre" required>    
                      <option value="1">Saal1</option>
                      <option value="2">Saal2</option>
                      <option value="3">Saal3</option>
                        </select>

                        <label for="time"><b>Time</b></label>
            <select   ngModel name="time" required>    
                <option value="1">15:00</option>
                <option value="2">16:00</option>
                <option value="3">17:00</option>
                <option value="4">17:20</option>
                <option value="5">19:00</option>
                <option value="6">19:15</option>
                <option value="7">20:00</option>
                <option value="8">20:20</option>
                <option value="9">21:00</option>
                <option value="10">22:00</option>
                <option value="11">23:00</option>
                <option value="12">23:20</option>
  </select>

  <label for="price"><b>Price</b></label>
                  <select   ngModel name="price" required>    
                      <option value="1">7,00 €</option>
                      <option value="2">7,50 €</option>
                      <option value="3">8,00 €</option>
                        </select>
                </form>
</div>      
      
       
</div>
</div>
