.framing {
    display: flex;
    width: 100%;
    height: 700px;
    flex-flow: column; 
    margin:50px;
}

.btn {
    width: 130px;
    height:60px;
    
}

.imagine {   
    box-shadow:0px 0px 80px 10px #9EB5D3 ;
    width:70%;
    margin:50px;
    opacity: 1;
}

#program-windows{
    display: flex;
    flex-flow: row;
   left: 90px;
    position: relative;
    
    top: -320px;
}

.movieuno {   
    height:175px;
    width:250px;
    display: flex;
    background-color: white;
}

.movieprogram {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    height:123px;
    width:65%;
    display: flex;
    background-color: #9EB5D3;

}

.movieduo {
    height:175px;
    width:250px;
    margin-left:100px;
    display: flex;
    background-color: white;
}

.movietrio {
    height:175px;
    width:250px;
    margin-left:100px;
    display: flex;
    background-color: white;
}

