<div class="framing">
<br> <br>
  <h2>Please select your seat(s)!</h2>
  
  <div id="wrapper">
  <img src= "src\app\seating\cinema.jpg" class="imagine">
  <div class="sitzplan">
<div> <p id="counter" >Cost of picked seats: {{numbercheckedseats}}</p>
<button [routerLink]="['/payment']" >Booking </button>
</div>
  </div>
  </div>
  </div>
  
