.framing {
   color:black; 
}

h2 {
    font-style: italic;
    margin-left:50px; 
}

#wrapper {
display: flex;
}

.imagine {   
    box-shadow:0px 0px 80px 10px #9EB5D3 ;
    width:70%;
    margin:50px;
    opacity: 1;
}

.sitzplan {
    background-color: white;
    height: 500px;
    width: 500px;
    margin: 250px -800px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}
 
#counter {
   text-decoration-line: overline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    
}
