.basic {
background-color: #9EB5D3;
display: flex;
justify-content: center;
border-radius: 14px 14px 14px 14px;

}

.fancy {
   
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: black;
 


}


