
<br>
<h2>Please print this confirmation page and present it on your booked visit</h2>
<br>


<div class="container">
  <p id="content">
Dear {{PaymentComponent.user.name}},
<br>
Thanks for your booking!
<br>
<br>

We wish you the best cinema experience in our movie theatre.
You booked {{seating.number}} seats for {{program.movie}} on {{program.day}}, {{program.time}}.
<br>

We will charge your {{ PaymentComponent.user.cccompany }} with the number {{PaymentComponent.user.number}} with ??€.
<br>
<br>
Enjoy your stay at our movie theater.
<br>
Your Team of East Hollywood Boulevard Movies Theater
  </p>

  </div>
  <button type="button">Print</button>
  
  
