

<br>
<h2>Pay your cinema tickets now</h2>
<br>


<form (ngSubmit)="onSubmit(formular)" #formular="ngForm">
<div class="container">
  
  <div class="form-group">
  <label for="name" id="content"><b>Your Name</b></label>
    <input type="text" 
    id="content" 
    placeholder="credit card owner" 
    [(ngModel)] = "user.name" 
    name="name" required>
</div>
<br>

<div class="form-group">
<label for="cccompany" id="content"><b>Credit Card Company</b></label>
  <select  id="content" 
  [(ngModel)] = "user.cccompany" 
  name="cccompany" required>    
      <option value="1">Visa</option>
      <option value="2">MasterCard</option>
      <option value="3">American Express</option>
        </select>
      </div>
        <br>

        <div class="form-group">       
        <label for="ccnumber" id="content"><b>Card Number</b></label>
        <input type="number" 
        id="content" 
        placeholder="credit card number" 
        [(ngModel)] = "user.ccnumber" 
        name="ccnumber" required>
      </div>
      <br>

    <div class="form-group">
    <label for="expdate" id="content"><b>Expiration Date</b></label>
    <input 
    type="month" 
    id="content" 
    placeholder="month/year" 
    ngModel 
    name="expdate" required>
  </div>
    <br>

    <div class="form-group">
    <label for="cvc" id="content"><b>CVC</b></label>
      <input 
      type="number" 
      id="content" 
      placeholder="security number"  
      ngModel 
      name="cvc" required>
  <br>
</div>
</div>

<button type="submit" [disabled] = "!formular.valid" [routerLink]="['/confirmation']" >Send</button>
</form>

