h2{
    margin-left: 50px;
    text-decoration: underline;
}

.container {
    display: flex;
    width: 30%;
    margin: 0  50px 50px ;
    align-items: flex-start;
    flex-direction: column;
    background-color:  #9EB5D3 ;
    opacity: 0.5;
    border-radius: 14px 14px 14px 14px;
}
#content{
    fill-opacity: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
}

button{
    margin-left: 50px;
}